<fieldset class="media-reference-editor" [formGroup]="referenceForm">
  <legend>{{ label() }}</legend>
  <div class="media-grid">
    <div class="field full"><span i18n>Arquivo</span><p-select [options]="assetOptions()" optionLabel="id" optionValue="id"
      formControlName="assetId" [filter]="true" ariaLabel="Arquivo de mídia" i18n-ariaLabel></p-select></div>
    <label class="full"><span i18n>Texto alternativo</span><input pInputText formControlName="alt" /></label>
    <div class="field toggle"><span i18n>Imagem decorativa</span><p-toggleswitch formControlName="decorative"
      ariaLabel="Imagem decorativa" i18n-ariaLabel></p-toggleswitch></div>
    <div class="field"><span i18n>Foco horizontal</span><p-inputnumber formControlName="focalPointX" suffix=" %"
      [min]="0" [max]="100" ariaLabel="Foco horizontal" i18n-ariaLabel></p-inputnumber></div>
    <div class="field"><span i18n>Foco vertical</span><p-inputnumber formControlName="focalPointY" suffix=" %"
      [min]="0" [max]="100" ariaLabel="Foco vertical" i18n-ariaLabel></p-inputnumber></div>
    <label class="full"><span i18n>Legenda</span><input pInputText formControlName="caption" /></label>
  </div>
</fieldset>
