<div class="portfolio-gallery-grid">
  @for (item of galleryItems(); track item.id; let position = $index) {
    <button pButton class="portfolio-gallery-trigger" type="button"
      [attr.aria-label]="lightboxLabel(item, position)" (click)="openLightbox(position)">
      <img [src]="item.src" [alt]="item.alt" [attr.aria-hidden]="item.decorative" [width]="item.width"
        [height]="item.height" [style.object-position]="item.objectPosition" loading="lazy" decoding="async" />
      @if (item.caption) {
        <span>{{ item.caption }}</span>
      }
    </button>
  }
</div>

<p-galleria [value]="galleryItems()" [activeIndex]="activeIndex()"
  (activeIndexChange)="setActiveIndex($event)" [visible]="isLightboxVisible()"
  (visibleChange)="setLightboxVisibility($event)" [fullScreen]="true" [circular]="true"
  [showItemNavigators]="galleryItems().length > 1" [showThumbnails]="galleryItems().length > 1"
  [showThumbnailNavigators]="galleryItems().length > 5" [responsiveOptions]="responsiveOptions"
  [numVisible]="7">
  <ng-template #item let-item>
    <img class="portfolio-gallery-lightbox-image" [src]="item.src" [alt]="item.alt"
      [attr.aria-hidden]="item.decorative" [width]="item.width" [height]="item.height"
      [style.object-position]="item.objectPosition" />
  </ng-template>
  <ng-template #thumbnail let-item>
    <img class="portfolio-gallery-thumbnail" [src]="item.src" [alt]="item.alt" [width]="item.width"
      [height]="item.height" [style.object-position]="item.objectPosition" />
  </ng-template>
  <ng-template #caption let-item>
    @if (item.caption) {
      <p class="portfolio-gallery-caption">{{ item.caption }}</p>
    }
  </ng-template>
</p-galleria>
