:host {
  display: contents;
}

em {
  color: var(--brand-accent);
  font-style: normal;
}

:host-context(.hero-section) em {
  display: inline-block;
  padding-left: 0.55em;
}

@media (width <= 680px) {
  :host-context(.hero-section) em {
    padding-left: 0;
  }
}
